{% comment %}
Pass in your metadata object on the render.

metadata: site.metadata
{% endcomment %}{%- assign og = resource.data.seo.og -%}
{%- assign meta = resource.data.seo.meta -%}

{%- capture full_site_title -%}
    {{- resource.title -}}{{- metadata.separator | default: " - " -}}{{- metadata.title -}}
{%- endcapture -%}

{%- capture meta_robots -%}
    {{- meta.robots | default: metadata.robots | default: "index, follow" -}}
{%- endcapture -%}

{%- capture meta_revisit_after -%}
    {{- meta.revisit | default: metadata.revisit -}}
{%- endcapture -%}

{%- capture meta_author -%}
    {{- meta.author | default: resource.author | default: metadata.author -}}
{%- endcapture -%}

{%- capture meta_language -%}
    {{- meta.language | default: resource.language | default: metadata.language | default: "en_US" -}}
{%- endcapture -%}

{%- capture social_site_title -%}
    {{- og.title | default: full_site_title -}}
{%- endcapture -%}

{%- capture social_description -%}
    {{- og.description | default: resource.data.excerpt | default: metadata.description -}}
{%- endcapture -%}

{%- if og.type -%}
    {%- capture social_content_type -%}{{ og.type }}{%- endcapture -%}
{%- else -%}
    {%- if resource.collection.name == 'posts' -%}
        {%- capture social_content_type -%}article{%- endcapture -%}
    {%- else -%}
        {%- capture social_content_type -%}website{%- endcapture -%}
    {%- endif -%}
{%- endif -%}

{%- capture full_url -%}
	{{ metadata.url }}{{- resource.relative_url |  remove_last: '/'  -}}
{%- endcapture -%}

{%- capture social_image -%}
    {{- og.image | default: resource.data.image | default: metadata.global_image -}}
{%- endcapture -%}

{%- capture social_site_name -%}
    {{- og.site_name | default: metadata.title -}}
{%- endcapture -%}

{%- capture social_locale -%}
    {{- og.locale | default: metadata.og_locale | default: "en_US" -}}
{%- endcapture -%}

{%- capture published_time -%}
    {{- resource.date |  default: resource.date | date_to_xmlschema -}}
{%- endcapture -%}

{%- capture modified_time -%}
    {{- resource.modified |  default: resource.modified | date_to_xmlschema -}}
{%- endcapture -%}

<!-- Begin Liquid SEO -->
<title>{{ full_site_title }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="revisit-after" content="{{ meta_revisit_after | escape}}">
<meta name="robots" content="{{ meta_robots }}, max-image-preview:large">
<meta name="title" content="{{ social_site_title | escape}}">    
<meta name="description" content="{{ social_description | escape }}">
<meta name="author" content="{{ meta_author  | escape}}">
<meta name="language" content="{{ meta_language | escape}}">
<meta name="generator" content="Bridgetown">
<meta property="article:published_time" content="{{ published_time }}">
{% if resource.modified -%}<meta property="article:modified_time" content="{{ modified_time }}" />{%- endif -%} 
<meta property="og:site_name" content="{{ social_site_name | escape}}">
<meta property="og:type" content="{{ social_content_type | escape}}">
<meta property="og:title" content="{{ social_site_title | escape}}">
<meta property="og:description" content="{{ social_description | escape}}">
<meta property="og:url" content="{{ full_url }}">
<meta property="og:image" content="{{ full_url }}{{ social_image }}">
<meta property="og:locale" content="{{ social_locale | escape}}">
<link rel="canonical" href="{{ full_url }}">
<!-- End Liquid SEO -->
