{%- comment -%}
This plugin relies on two things:

- front-matter variables
- a .yml file in _data titled "metadata.yml" 

{%- endcomment -%}

{%- assign og = page.seo.og -%}
{%- assign mt = page.seo.meta -%}
{%- assign metadata = site.data.metadata -%}

{%- capture full_site_title -%}
    {{- page.title -}} 
    {%- if metadata.separator -%}
        {{- metadata.separator -}} 
    {%- endif -%}
    
    {{- metadata.title -}} 
    
    {%- if metadata.separator2 -%}    
        {{- metadata.separator2 -}} 
    {%- endif -%}

    {%- if metadata.tagline -%}
        {{- metadata.tagline -}}
    {%- endif -%}
{%- endcapture -%}

{%- comment -%} {%- endcomment -%}

{%- capture meta_robots -%}
    {%- if mt.robots -%}
        {{- mt.robots -}}
    {%- else -%}
        {{- metadata.robots -}}
    {% endif %} 
{%- endcapture -%}

{%- capture meta_revisit_after -%}
    {%- if mt.revisit -%}
        {{- mt.revisit -}}
    {% else %}
        {{- metadata.revisit -}}
    {% endif %}
{%- endcapture -%}

{%- capture meta_keywords -%}
    {%- if page.tags -%}
        {{- page.tags | sort | join: ", " -}}
    {% else %}
        {{- metadata.keywords -}}
    {%- endif -%}
{%- endcapture -%}

{%- capture meta_theme_color -%}
    {{- metadata.meta_theme_color | default: "#FFF" -}}
{%- endcapture -%}

{%- capture meta_author -%}
    {%- if mt.author %}
        {{- mt.author -}}
    {%- elsif page.author -%}
        {{- page.author -}}
    {%- else -%}
        {{- metadata.author -}}
    {%- endif -%}
{%- endcapture -%}

{%- capture meta_language -%}
    {%- if mt.language -%}
        {{- mt.language -}}
    {%- elsif page.language -%}
        {{ page.language }}
    {%- else -%}
        {{- metadata.language -}}
    {%- endif -%}
{%- endcapture -%}

{%- comment -%} 
There are very few cases where you'll be writing separate content for vanilla meta and og tags. For this reason,
I decided to get rid of the checks for meta-specific titles, descriptions, & keywords fallbacks and just rely on the OpenGraph/site variables
to provide it. Cuts build time and confusion.
{%- endcomment -%}

{%- capture social_site_title -%}
    {%- if og.title -%}
        {{- og.title }} {{- metadata.separator -}} {{- metadata.title -}} {{- metadata.separator2 -}} {{- metadata.tagline -}}
    {%- else -%}
        {{- page.title -}} {{- metadata.separator -}} {{- metadata.title -}} {{- metadata.separator2 -}} {{- metadata.tagline -}}
    {%- endif -%}
{%- endcapture -%}

{%- capture social_description -%}
    {% if og.description %}
        {{- og.description -}}
    {% else %}
        {{- metadata.description -}}
    {% endif %}
{%- endcapture -%}

{%- capture social_content_type -%}
    {%- if og.type == nil -%}
        {% if site.post %}article
        {% else %}website
    {%- endif %}
    {%- else -%}
        {{- og.type -}}
    {%- endif -%}
{%- endcapture -%}

{%- capture social_url -%}
    {%- if page.url != '/' -%}
        {{- site.url -}}{{- page.url -}}
    {%- elsif page.url == '/' -%}
        {{- site.url -}}
    {%- endif -%}
{%- endcapture -%}

{%- capture social_image -%}
    {%- if og.image -%}
        {{ og.image }}
    {%- elsif metadata.image -%}
        {{- metadata.image -}}
    {%- else -%}
        {{- page.image -}}
    {%- endif -%}
{%- endcapture -%}

{%- capture social_site_name -%}
    {%- if og.site_name -%}
        {{- og.site_name -}}
    {% else %}
        {{- metadata.title -}}
    {%- endif -%}
{%- endcapture -%}

{%- capture social_locale -%}
    {%- if og.locale -%}
        {{- og.locale -}}
    {%- else -%}
        {{- site.og_locale | default: "en_US" -}}
    {%- endif -%}
{%- endcapture -%}

<title>{{ full_site_title }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="theme-color" content="{{ meta_theme_color }}">
{%- comment -%} Indexing {%- endcomment -%}
<meta name="revisit-after" content="{{ meta_revisit_after }}">
<meta name="robots" content="{{ meta_robots }}">
{%- comment -%} Meta SEO {%- endcomment -%}
<meta name="title" content="{{ social_site_title }}">    
<meta name="description" content="{{ social_description }}">
{%- if meta_keywords != nil -%}
{%- comment -%} These days, this isn't really worth filling out. {%- endcomment -%}
<meta name="keywords" content="{{ meta_keywords }}">
{%- endif -%}
<meta name="author" content="{{ meta_author }}">
<meta name="language" content="{{ meta_language }}">
{%- comment -%} OG SEO {%- endcomment -%}
<meta property="og:title" content="{{ social_site_title }}">
<meta property="og:description" content="{{ social_description }}">
<meta property="og:type" content="{{ social_content_type }}">
<meta property="og:url" content="{{ social_url }}"> 
<meta property="og:image" content="{{ social_image }}">
<meta property="og:site_name" content="{{ social_site_name }}">
<meta property="og:locale" content="{{ social_locale }}">
{%- comment -%} Twitter Cards {%- endcomment -%}
{%- if metadata.twitter_card == true -%}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ social_site_title }}">
<meta name="twitter:description" content="{{ social_description }}">
<meta name="twitter:site" content="{{ social_url }}">
<meta name="twitter:image" content="{{ social_image }}">
<meta name="twitter:creator" content="{{ metadata.twitter_username }}">
{%- endif -%}